@font-face {
    font-family: 'Dogggo';
    src: url('Dogggo-Regular.eot');
    src: url('Dogggo-Regulard41d.eot?#iefix') format('embedded-opentype'),
        url('Dogggo-Regular.woff') format('woff'),
		url('Dogggo-Regular.woff2') format('woff2'),
        url('Dogggo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

